.accordion {
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
}
.accordion:after {
    content: '\02795';
    font-size: 13px;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
}